



<div class="wrapper" id="MainView">
    <div class="MainLoader">
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var cust = 'other';
        $.ajax({
            url: '@Url.Action("Login", "Login")',
            data: {},
            cache: false,
            type: "POST",
            dataType: "html",
            success: function (data) {
                $("#MainView").html(data);
            },
            error: function (data) {

            }
        });
    });
</script>

